<div class="background">
    <div class="container bg-items">
        <div class="mensaje-menu">
            <h1>Bienvenidos</h1>
            <p>El sitio número 1 de comida rápida en Bucaramanga</p>
            <ng-container *ngIf="!authService.loggedIn(); else loggedIn">
                <a class="btn" routerLink="/registro" routerLinkActive="active">Registrarse</a>
            </ng-container>
            <ng-template #loggedIn>
                <a class="btn" routerLink="/menu" routerLinkActive="active">Menú</a>
            </ng-template>
        </div>
        <div class="img-menu">
            <img src="assets/img/hamburguer.svg" alt="hamburger">
        </div>
    </div>
</div>