<div class="bg-perfil">
    <div class="modal">
        <div class="modal-border">
            <div class="modal-main">
                <i (click)="cerrarModal()" class='bx bx-x'></i>
                <form>
                    <div class="modal-form mover-form">
                        <div class="codigo">
                            <h4>Ingrese el código</h4>
                            <p>Hemos enviado a su correo un código de verificación</p>
                            <div>
                                {{errorPw}}
                            </div> <br>
                            <input [(ngModel)]="cambioPw.token" name="token" type="text" placeholder="Ingrese el código"><br>
                            <button (click)="enviarCode()" class="btn btn-outline-dark code">Enviar</button>
                        </div>
                    </div>
                    <div class="modal-form">
                        <div class="codigo">
                            <h4>Nueva contraseña</h4>
                            <div>
                                {{errorPw}}
                            </div> <br>
                            <input [(ngModel)]="cambioPw.password" name="password" type="password" placeholder="Contraseña"><br>
                            <input [(ngModel)]="cambioPw.confirmPassword" name="confirmPassword" type="password" placeholder="Confirmar contraseña"><br>
                            <button (click)="cambiarPw()" class="btn btn-outline-dark code">Cambiar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="tarjeta">
        <div class="card-profile">
            <div class="card-img">
                <img src="assets/img/profile-pic.svg" alt="profile-pic">
            </div>
            <h4>{{user.username}}</h4>
            <p>
                Bienvenido {{user.username}}, aquí encontraras toda tu información correspondiente a nuestra plataforma.
            </p>
        </div>
        <div class="card-info">
            <p>Puede editar su información ingresando los datos y luego dando al botón Editar</p>
            <div style="text-align: center;" *ngIf="error">{{error}}</div>
            <div class="card-grid">
                <div>
                    <i class="fal fa-envelope-square fa-lg"></i>
                    <p>{{user.email}}</p>
                </div>
                <div>
                    <i class="fas fa-signature fa-lg"></i>
                    <input [(ngModel)]="user.name" type="text" value="{{user.name}}" placeholder="Nombre">
                </div>
                <div>
                    <i class="fas fa-signature fa-lg"></i>
                    <input [(ngModel)]="user.lastname" type="text" value="{{user.lastname}}"  placeholder="Apellido">
                </div>
                <div>
                    <i class="far fa-mobile fa-lg"></i>
                    <input [(ngModel)]="user.cellphone" type="number" value="{{user.cellphone}}"  placeholder="Teléfono">
                </div>
                <div>
                    <i class="far fa-map-marker-alt fa-lg"></i>
                    <input [(ngModel)]="user.address" type="text" value="{{user.address}}"  placeholder="Dirección">
                </div>
                <div>
                    <i class="fal fa-city fa-lg"></i>
                    <input [(ngModel)]="user.city" type="text" value="{{user.city}}" placeholder="Ciudad">
                </div>
            </div>
            <a (click) = "editarInfo()" class="btn btn-outline-dark mt-3">Editar información</a>
        </div>
        <div class="card-historial">
            <h5>Historial de pedidos</h5>
            <div class="pedido">

            </div>
        </div>
        <div class="card-actions">
            <div>
                <a id="open" (click)="abrirModal()" class="btn btn-success mb-3">Cambiar contraseña</a>
            </div>
            <div>
                <a class="btn btn-danger">Eliminar cuenta</a>
            </div>
        </div>
        <div class="space">
            <br>
        </div>
    </div>
</div>
