input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.bg-perfil {
    background: url(../../../assets/img/perfil-bg.jpg) center center/cover;
    background-attachment: fixed;
    overflow-y: scroll;
    position: relative;
}

.tarjeta{
    background-color: transparent;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card-profile {
    width: 40%;
    height: 230px;
    background-color: #fff;
    border: 20px;
    border-radius: 15px;
    padding: 0 10px;
    margin-top: 200px;
    margin-bottom: 15px;
}

.card-profile .card-img img{
    margin-top: -70px;
    width: 140px;
}

.card-info{
    width: 40%;
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 15px;
}

.card-info .card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
}

.card-info .card-grid div{
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-info .card-grid div input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    text-align: center;
}

.card-actions {
    width: 40%;
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
}

.card-historial {
    width: 40%;
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 15px;
}

.space{
    width: 40%;
    height: 20vh;
    margin-top: 100px;
}

/* Modal cambiar pw */
.modal{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    margin-top: -200%;
    background-color: rgba(109, 109, 109, 0.3);
    z-index: 1000;
    transition: 1s ease-in-out;
}

.modal.active{
    margin-top: 0;
    transition: all 1s ease;
}

.modal .modal-border{
    width: 350px;
    padding: 28px;
    border: 1px solid #000;
    border-radius: 10px;
    background: #fff;
    margin-top: -200%;
    transition: all .5s ease;
}

.modal .modal-border.active{
    margin-top: 0;
    transition: all .5s ease;
}

.modal .bx-x {
    font-size: 30px;
    position: relative;
    top: -8px;
    right: -45%;
}

.modal .modal-border .modal-main {
    width: 100%;
    overflow: hidden;
}

.modal .modal-border .modal-main form{
    display: flex;
    width: 200%;
}

.modal .modal-form {
    width: 50%;
    transition: all .5s ease;
}

.modal .modal-form h4{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
}

.modal .modal-form .codigo p{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}

.modal .modal-form .codigo input{
    width: 50%;
    text-align: center;
    height: 28px;
    margin-bottom: 18px;
    border: .2px solid #000;
    border-radius: 5px;
}

.modal .modal-form button{
    padding: 10px 20px;
    margin-bottom: 18px;
    transition: .3s ease;
}

@media (max-width: 1250px){
    .card-info .card-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 900px){
    .card-profile {
        width: 60%;
    }

    .card-info{
        width: 60%;
    }

    .card-historial{
        width: 60%;
    }

    .card-actions{
        width: 60%;
    }
}

@media (max-width: 750px){
    .card-profile {
        width: 80%;
    }

    .card-info{
        width: 80%;
    }

    .card-historial{
        width: 80%;
    }

    .card-actions{
        width: 80%;
    }
}

@media (max-width: 475px){
    .card-info .card-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .card-actions {
        grid-template-columns: repeat(1, 1fr);
    }

    .card-info .card-grid div input {
        width: 80%;
    }
}

@media (max-width: 375px) {
    .modal .modal-border{
        width: 275px;
    }
}