input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.bg-perfil {
    background: url(../../../assets/img/perfil-bg.jpg) center center/cover;
    background-attachment: fixed;
    overflow-y: scroll;
    position: relative;
}

.tarjeta{
    background-color: transparent;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card-profile {
    width: 40%;
    height: 230px;
    background-color: #fff;
    border: 20px;
    border-radius: 15px;
    padding: 0 10px;
    margin-top: 200px;
    margin-bottom: 15px;
}

.card-profile .card-img img{
    margin-top: -70px;
    width: 140px;
}

.card-info{
    width: 40%;
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 15px;
}

.card-info .card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
}

.card-info .card-grid div{
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-info .card-grid div input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    text-align: center;
}

.card-actions {
    width: 40%;
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
}

.card-historial {
    width: 40%;
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 15px;
}

.space{
    width: 40%;
    height: 20vh;
    margin-top: 100px;
}

@media (max-width: 1250px){
    .card-info .card-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 900px){
    .card-profile {
        width: 60%;
    }

    .card-info{
        width: 60%;
    }

    .card-historial{
        width: 60%;
    }

    .card-actions{
        width: 60%;
    }
}

@media (max-width: 750px){
    .card-profile {
        width: 80%;
    }

    .card-info{
        width: 80%;
    }

    .card-historial{
        width: 80%;
    }

    .card-actions{
        width: 80%;
    }
}

@media (max-width: 475px){
    .card-info .card-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .card-actions {
        grid-template-columns: repeat(1, 1fr);
    }

    .card-info .card-grid div input {
        width: 80%;
    }
}