<div class="wave">
    <div class="registro-form">
        <div class="avatar">
            <img src="assets/img/avatar-login.svg" alt="avatar-login">
        </div>
        <h5>Registro</h5>
        <div style="text-align: center;" *ngIf="error">{{error}}</div>
        <form (submit)="signUp()">
            <div class="registro">
                <i class="far fa-user"></i>
                <input [(ngModel)]="user.username" type="text" placeholder="Usuario" name="username">
            </div>
            <div class="registro">
                <i class="fal fa-envelope-square"></i>
                <input [(ngModel)]="user.email" type="email" placeholder="Correo electrónico" name="email">
            </div>
            <div class="registro">
                <i class="far fa-map-marker-alt"></i>
                <input [(ngModel)]="user.address" type="text" placeholder="Dirección" name="address">
            </div>
            <div class="registro">
                <i class="far fa-lock-alt"></i>
                <input [(ngModel)]="user.password" type="password" placeholder="Contraseña" name="password">
            </div>
            <div class="registro">
                <i class="far fa-lock-alt"></i>
                <input [(ngModel)]="user.confirmPassword" type="password" placeholder="Confirmar contraseña" name="confirmPassword">
            </div>
            <button type="submit" class="btn">Registrarse</button>
        </form>
        <a routerLink="/recuperar/contraseña" routerLinkActive="active">¿Olvido tu contraseña?</a>
        <a routerLink="/login" routerLinkActive="active" >¿Ya tiene una cuenta? Inicie sesión</a>
    </div>
</div>