<div class="wave">
    <div class="registro-form">
        <div class="avatar">
            <img src="assets/img/avatar-login.svg" alt="avatar-login">
        </div>
        <h5>Registro</h5>
        <div class="registro">
            <i class="far fa-user"></i>
            <input type="text" placeholder="Usuario" name="username">
        </div>
        <div class="registro">
            <i class="fal fa-envelope-square"></i>
            <input type="email" placeholder="Correo electrónico" name="email">
        </div>
        <div class="registro">
            <i class="far fa-map-marker-alt"></i>
            <input type="text" placeholder="Dirección" name="address">
        </div>
        <div class="registro">
            <i class="far fa-lock-alt"></i>
            <input type="password" placeholder="Contraseña" name="password">
        </div>
        <div class="registro">
            <i class="far fa-lock-alt"></i>
            <input type="password" placeholder="Confirmar contraseña" name="confirmPassword">
        </div>
        <button class="btn">Registrarse</button>
        <a routerLink="home" routerLinkActive="active" >¿Olvido tu contraseña?</a>
    </div>
</div>
