<div class="menu-bg">
    <img src="/assets/img/logo-restaurant.svg" alt="menu-logo">
    <p>La mejor comida rápida del area metropolitana de Bucaramanga</p>
</div>
<div class="menu-titulo">
    <div>
        <h1>Promociones</h1>
        <hr>
    </div>
</div>
<div class="productos container">
    <div class="producto">
        <div class="img-producto">
            <img src="/assets/img/burguer.png" alt="">
        </div>
        <div class="info-producto">
            <h5>Hamburguesa doble queso</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, aut.</p>
            <span>$ 18.000</span>
        </div>
    </div>
    <div class="producto">
        <div class="img-producto">
            <img src="/assets/img/burguer.png" alt="">
        </div>
        <div class="info-producto">
            <h5>Hamburguesa doble queso</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, aut.</p>
            <span>$ 18.000</span>
        </div>
    </div>
    <div class="producto">
        <div class="img-producto">
            <img src="/assets/img/burguer.png" alt="">
        </div>
        <div class="info-producto">
            <h5>Hamburguesa doble queso</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, aut.</p>
            <span>$ 18.000</span>
        </div>
    </div>
</div>
<div class="menu-titulo">
    <div>
        <h1>Nuestro Menú</h1>
        <hr>
    </div>
</div>
<div class="productos container">
    <div class="producto">
        <div class="img-producto">
            <img src="/assets/img/burguer.png" alt="">
        </div>
        <div class="info-producto">
            <h5>Hamburguesa doble queso</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, aut.</p>
            <span>$ 18.000</span>
        </div>
    </div>
    <div class="producto">
        <div class="img-producto">
            <img src="/assets/img/burguer.png" alt="">
        </div>
        <div class="info-producto">
            <h5>Hamburguesa doble queso</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, aut.</p>
            <span>$ 18.000</span>
        </div>
    </div>
    <div class="producto">
        <div class="img-producto">
            <img src="/assets/img/burguer.png" alt="">
        </div>
        <div class="info-producto">
            <h5>Hamburguesa doble queso</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, aut.</p>
            <span>$ 18.000</span>
        </div>
    </div>
    <div class="producto">
        <div class="img-producto">
            <img src="/assets/img/burguer.png" alt="">
        </div>
        <div class="info-producto">
            <h5>Hamburguesa doble queso</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, aut.</p>
            <span>$ 18.000</span>
        </div>
    </div>
    <div class="producto">
        <div class="img-producto">
            <img src="/assets/img/burguer.png" alt="">
        </div>
        <div class="info-producto">
            <h5>Hamburguesa doble queso</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, aut.</p>
            <span>$ 18.000</span>
        </div>
    </div>
    <div class="producto">
        <div class="img-producto">
            <img src="/assets/img/burguer.png" alt="">
        </div>
        <div class="info-producto">
            <h5>Hamburguesa doble queso</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, aut.</p>
            <span>$ 18.000</span>
        </div>
    </div>
    <div class="producto">
        <div class="img-producto">
            <img src="/assets/img/burguer.png" alt="">
        </div>
        <div class="info-producto">
            <h5>Hamburguesa doble queso</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, aut.</p>
            <span>$ 18.000</span>
        </div>
    </div>
    <div class="producto">
        <div class="img-producto">
            <img src="/assets/img/burguer.png" alt="">
        </div>
        <div class="info-producto">
            <h5>Hamburguesa doble queso</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, aut.</p>
            <span>$ 18.000</span>
        </div>
    </div>
    <div class="producto">
        <div class="img-producto">
            <img src="/assets/img/burguer.png" alt="">
        </div>
        <div class="info-producto">
            <h5>Hamburguesa doble queso</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, aut.</p>
            <span>$ 18.000</span>
        </div>
    </div>
</div>
<div class="menu-titulo">
    <div>
        <h1>Bebidas</h1>
        <hr>
    </div>
</div>
<div class="productos container">
    <div class="producto">
        <div class="img-producto">
            <img src="/assets/img/drink.png" alt="">
        </div>
        <div class="info-producto">
            <h5>Cóctel</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, aut.</p>
            <span>$ 18.000</span>
        </div>
    </div>
    <div class="producto">
        <div class="img-producto">
            <img src="/assets/img/drink.png" alt="">
        </div>
        <div class="info-producto">
            <h5>Cóctel</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, aut.</p>
            <span>$ 18.000</span>
        </div>
    </div>
    <div class="producto">
        <div class="img-producto">
            <img src="/assets/img/drink.png" alt="">
        </div>
        <div class="info-producto">
            <h5>Cóctel</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, aut.</p>
            <span>$ 18.000</span>
        </div>
    </div>
    <div class="producto">
        <div class="img-producto">
            <img src="/assets/img/drink.png" alt="">
        </div>
        <div class="info-producto">
            <h5>Cóctel</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, aut.</p>
            <span>$ 18.000</span>
        </div>
    </div>
    <div class="producto">
        <div class="img-producto">
            <img src="/assets/img/drink.png" alt="">
        </div>
        <div class="info-producto">
            <h5>Cóctel</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, aut.</p>
            <span>$ 18.000</span>
        </div>
    </div>
    <div class="producto">
        <div class="img-producto">
            <img src="/assets/img/drink.png" alt="">
        </div>
        <div class="info-producto">
            <h5>Cóctel</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, aut.</p>
            <span>$ 18.000</span>
        </div>
    </div>
</div>
<br><br><br><br>